<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}">
</head>
<body>
    <th:block th:replace="~{layout :: body}">
    <div th:fragment="page-content" class="email-compose-page">

          <div class="card email-compose-card">
            <div class="card-header bg-light d-flex flex-between-center">
              <h5 class="mb-0">새 메일</h5>
              <a class="btn btn-falcon-default btn-sm" th:href="@{/app/email/inbox}"><span class="fas fa-times me-1"></span>취소</a>
            </div>
            <form id="email-compose-form" th:data-inbox-url="@{/app/email/inbox}">
              <div class="card-body p-0 email-compose-body">
                <div class="border border-top-0 border-200">
                  <input class="form-control border-0 rounded-0 outline-none px-card" id="email-to" type="text" inputmode="email" autocomplete="email" placeholder="받는 사람" />
                </div>
                <div class="border border-y-0 border-200">
                  <input class="form-control border-0 rounded-0 outline-none px-card" id="email-subject" type="text" placeholder="제목" />
                </div>
                <div class="email-compose-editor-wrap">
                  <textarea class="email-compose-editor d-none" id="email-content" name="content"></textarea>
                </div>
                <div class="bg-light px-card py-3" id="email-attachments">
                  <div class="border px-2 rounded-3 d-flex flex-between-center bg-white dark__bg-1000 my-1 fs--1" data-attachment-row>
                    <span class="fs-1 far fa-image"></span><span class="ms-2">winter.jpg (873kb)</span>
                    <a class="text-300 p-1 ms-6" href="#!" data-detach-attachment data-bs-toggle="tooltip" data-bs-placement="right" title="첨부 제거"><span class="fas fa-times"></span></a>
                  </div>
                  <div class="border px-2 rounded-3 d-flex flex-between-center bg-white dark__bg-1000 my-1 fs--1" data-attachment-row>
                    <span class="fs-1 far fa-file-archive"></span><span class="ms-2">coffee.zip (342kb)</span>
                    <a class="text-300 p-1 ms-6" href="#!" data-detach-attachment data-bs-toggle="tooltip" data-bs-placement="right" title="첨부 제거"><span class="fas fa-times"></span></a>
                  </div>
                </div>
              </div>
              <div class="card-footer border-top border-200 d-flex flex-between-center email-compose-footer">
                <div class="d-flex align-items-center">
                  <button class="btn btn-primary btn-sm px-5 me-2" type="button" data-email-compose-action="send">보내기</button>
                  <input class="d-none" id="email-attachment" type="file" multiple="multiple" />
                  <label class="me-2 btn btn-light btn-sm mb-0 cursor-pointer" for="email-attachment" data-bs-toggle="tooltip" data-bs-placement="top" title="파일 첨부"><span class="fas fa-paperclip fs-1" data-fa-transform="down-2"></span></label>
                  <input class="d-none" id="email-image" type="file" accept="image/*" />
                  <label class="btn btn-light btn-sm mb-0 cursor-pointer" for="email-image" data-bs-toggle="tooltip" data-bs-placement="top" title="이미지 첨부"><span class="fas fa-image fs-1" data-fa-transform="down-2"></span></label>
                </div>
                <div class="d-flex align-items-center">
                  <div class="dropdown font-sans-serif me-2 btn-reveal-trigger">
                    <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal dropdown-caret-none" id="email-compose-options" type="button" data-bs-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-v" data-fa-transform="down-2"></span></button>
                    <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="email-compose-options">
                      <a class="dropdown-item" href="#!" data-email-compose-action="menu">인쇄</a>
                      <a class="dropdown-item" href="#!" data-email-compose-action="menu">맞춤법 검사</a>
                      <a class="dropdown-item" href="#!" data-email-compose-action="menu">일반 텍스트</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#!" data-email-compose-action="menu">보관</a>
                    </div>
                  </div>
                  <button class="btn btn-light btn-sm" type="button" data-email-compose-action="discard" data-bs-toggle="tooltip" data-bs-placement="top" title="삭제"><span class="fas fa-trash"></span></button>
                </div>
              </div>
            </form>
          </div>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
    </th:block>
</body>
</html>
