<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/auth-simple :: head}"></head>
<body class="auth-simple-page">
    <th:block th:replace="~{fragments/app-loading :: bar}"></th:block>

    <main class="main" id="top">
      <div class="container" data-layout="container">
        <div class="row flex-center min-vh-100 py-6">
          <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
            <a class="d-flex flex-center mb-4" th:href="@{/}">
              <span class="font-sans-serif fw-bolder fs-5 d-inline-block" th:text="${appBrandName}">PrintMall</span>
            </a>
            <div class="card">
              <div class="card-body p-4 p-sm-5">
                <div class="row flex-between-center mb-2">
                  <div class="col-auto">
                    <h5>Log in</h5>
                  </div>
                  <div class="col-auto fs--1 text-600">
                    <span class="mb-0">or</span>
                    <span><a th:href="@{/pages/authentication/simple/register}">Create an account</a></span>
                  </div>
                </div>
                <div th:if="${loginError}" class="alert alert-danger py-2 mb-3" role="alert" th:text="${loginError}"></div>
                <div th:if="${loginSuccess}" class="alert alert-success py-2 mb-3" role="alert" th:text="${loginSuccess}"></div>
                <div th:if="${logoutSuccess}" class="alert alert-info py-2 mb-3" role="alert">로그아웃되었습니다. 세션이 종료되었습니다.</div>
                <form th:action="@{/auth/login}" method="post" data-loading-modal>
                  <input type="hidden" name="returnUrl" th:if="${param.returnUrl != null}" th:value="${param.returnUrl[0]}" />
                  <div class="mb-3">
                    <input class="form-control" type="text" name="id" placeholder="아이디" required="required" autocomplete="username" />
                  </div>
                  <div class="mb-3">
                    <input class="form-control" type="password" name="pw" placeholder="비밀번호" required="required" autocomplete="current-password" />
                  </div>
                  <div class="row flex-between-center">
                    <div class="col-auto">
                      <div class="form-check mb-0">
                        <input class="form-check-input" type="checkbox" id="basic-checkbox" checked="checked" />
                        <label class="form-check-label mb-0" for="basic-checkbox">Remember me</label>
                      </div>
                    </div>
                    <div class="col-auto"><a class="fs--1" th:href="@{/pages/authentication/simple/forgot-password}">Forgot Password?</a></div>
                  </div>
                  <div class="mb-3">
                    <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Log in</button>
                  </div>
                </form>
                <div class="position-relative mt-4">
                  <hr />
                  <div class="divider-content-center">or log in with</div>
                </div>
                <div class="row g-2 mt-2">
                  <div class="col-sm-6"><a class="btn btn-outline-google-plus btn-sm d-block w-100" href="#"><span class="fab fa-google-plus-g me-2" data-fa-transform="grow-8"></span> google</a></div>
                  <div class="col-sm-6"><a class="btn btn-outline-facebook btn-sm d-block w-100" href="#"><span class="fab fa-facebook-square me-2" data-fa-transform="grow-8"></span> facebook</a></div>
                  <div class="col-sm-6"><a class="btn btn-warning btn-sm d-block w-100" th:href="@{/auth/kakao/login}"><span class="me-2">K</span> kakao</a></div>
                  <div class="col-sm-6"><a class="btn btn-sm d-block w-100 text-white" style="background-color:#03C75A;border-color:#03C75A" th:href="@{/auth/naver/login}"><span class="fw-bold me-2">N</span> naver</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <th:block th:replace="~{fragments/settings :: settings}"></th:block>
    <th:block th:replace="~{fragments/auth-simple :: scripts}"></th:block>
</body>
</html>
