<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.springframework.ide.eclipse.boot.dash.SpringBootAppLaunchConfigurationType">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/spring-boot-app/src/main/java/com/example/springbootapp/SpringBootAppApplication.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.example.springbootapp.SpringBootAppApplication"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="spring-boot-app"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dfile.encoding=UTF-8 -Dsun.jnu.encoding=UTF-8 -Duser.language=ko -Duser.country=KR"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:/spring-boot-app}"/>
    <stringAttribute key="process_factory_id" value="org.springframework.ide.eclipse.boot.dash.DashLaunchProcessFactory"/>
</launchConfiguration>
