<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

  <th:block th:fragment="adminLinks">
    <a class="d-block mb-2 dashboard-quick-link link-primary" th:href="@{/admin/menus}" data-menu-path="/admin/menus">메뉴관리</a>
    <a class="d-block mb-2 dashboard-quick-link link-primary" th:href="@{/admin/nas}" data-menu-path="/admin/nas">NAS 설정</a>
    <a class="d-block mb-2 dashboard-quick-link link-primary" th:href="@{/admin/user-access-logs}" data-menu-path="/admin/user-access-logs">접속 로그</a>
    <a class="d-block dashboard-quick-link link-primary" th:href="@{/users}" data-menu-path="/users">사용자 관리</a>
  </th:block>

  <th:block th:fragment="ecmLinks">
    <a class="d-block mb-2 dashboard-quick-link link-primary" th:href="@{/app/e-commerce/product/product-manage}" data-menu-path="/app/e-commerce/product/product-manage">상품 관리</a>
    <a class="d-block mb-2 dashboard-quick-link link-primary" th:href="@{/app/e-commerce/orders/order-list}" data-menu-path="/app/e-commerce/orders/order-list">주문 목록</a>
    <a class="d-block mb-2 dashboard-quick-link link-primary" th:href="@{/app/e-commerce/customers}" data-menu-path="/app/e-commerce/customers">고객 관리</a>
    <a class="d-block dashboard-quick-link link-primary" th:href="@{/app/e-commerce/product/product-register}" data-menu-path="/app/e-commerce/product/product-register">상품 등록</a>
  </th:block>

</body>
</html>
