<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <!-- 상단 벨 아이콘 드롭다운 알림 리스트 -->
  <th:block th:fragment="dropdown">
    <div class="dropdown-menu dropdown-caret dropdown-caret dropdown-menu-end dropdown-menu-card dropdown-menu-notification dropdown-caret-bg"
         aria-labelledby="header-notification-link">
      <div class="card card-notification shadow-none">
        <div class="card-header">
          <div class="row justify-content-between align-items-center">
            <div class="col-auto">
              <h6 class="card-header-title mb-0" id="header-notification-dropdown-title">알림</h6>
            </div>
            <div class="col-auto ps-0 ps-sm-3">
              <a class="card-link fw-normal" href="#!" data-notification-mark-all="true">모두 읽음</a>
            </div>
          </div>
        </div>
        <div class="scrollbar-overlay" style="max-height:19rem">
          <div class="list-group list-group-flush fw-normal fs--1" id="header-notification-dropdown-list"
               data-notification-icon-list="header">
            <div class="list-group-item text-center text-600 py-4">알림을 불러오는 중…</div>
          </div>
        </div>
        <div class="card-footer text-center border-top">
          <a class="card-link d-block" th:href="@{/app/social/notification-list}" data-menu-path="/app/social/notification-list">전체 보기</a>
        </div>
      </div>
    </div>
  </th:block>
</body>
</html>
