<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}">
</head>
<body>
    <th:block th:replace="~{layout :: body}">
    <div th:fragment="page-content">
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="mb-0">소개</h5>
            </div>
            <div class="card-body">
                <p>이 애플리케이션에 대한 정보입니다.</p>
                <p>Falcon 템플릿 프레임워크를 기반으로 구성된 Spring Boot 애플리케이션입니다.</p>
            </div>
        </div>
    </div>
    </th:block>
</body>
</html>
