<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org">

  <head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title th:text="${title} ?: (${appBrandName} + ' | 대시보드 및 웹 앱 템플릿')">PrintMall | 대시보드 및 웹 앱 템플릿</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/assets/img/favicons/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/assets/img/favicons/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/img/favicons/favicon-16x16.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/img/favicons/favicon.ico}">
    <link rel="manifest" th:href="@{/assets/img/favicons/manifest.json}">
    <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <meta th:if="${screenId}" name="screen-id" th:content="${screenId}" />
    <script th:src="@{/assets/js/config.js}"></script>
    <script th:src="@{/vendors/simplebar/simplebar.min.js}"></script>


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&amp;family=Open+Sans:wght@300;400;500;600;700&amp;family=Poppins:wght@300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link th:href="@{/vendors/simplebar/simplebar.min.css}" rel="stylesheet">
    <link th:href="@{/assets/css/theme-rtl.min.css}" rel="stylesheet" id="style-rtl">
    <link th:href="@{/assets/css/theme.min.css}" rel="stylesheet" id="style-default">
    <link th:href="@{/assets/css/user-rtl.min.css}" rel="stylesheet" id="user-style-rtl" disabled="disabled" />
    <link th:href="@{/assets/css/user.css(v=39)}" rel="stylesheet" id="user-style-default" />
    <link th:if="${loadCalendar == true or loadFlatpickr == true or loadCrmDashboardInit == true}" th:href="@{/vendors/flatpickr/flatpickr.min.css}" rel="stylesheet" />
    <link th:if="${loadSwiper}" th:href="@{/vendors/swiper/swiper-bundle.min.css}" rel="stylesheet" />
    <link th:if="${loadLeaflet}" th:href="@{/vendors/leaflet/leaflet.css}" rel="stylesheet" />
    <link th:if="${loadLeaflet}" th:href="@{/vendors/leaflet.markercluster/MarkerCluster.css}" rel="stylesheet" />
    <link th:if="${loadLeaflet}" th:href="@{/vendors/leaflet.markercluster/MarkerCluster.Default.css}" rel="stylesheet" />
    <link th:href="@{/assets/css/layout-navbar.css(v=2)}" rel="stylesheet" id="layout-navbar-style" />
    <link th:href="@{/assets/css/responsive-layout.css(v=1)}" rel="stylesheet" id="responsive-layout-style" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" />
    <style>
      html[data-navbar-position="vertical"] #layoutNavbarTop { display: none !important; }
      html[data-navbar-position="top"] #layoutSidebar,
      html[data-navbar-position="top"] .navbar-vertical,
      html[data-navbar-position="top"] #layoutHeaderVertical { display: none !important; }
      html[data-navbar-position="top"] .content { margin-left: 0 !important; }
      body.layout-hide-sidebar #layoutSidebar,
      body.layout-hide-sidebar #layoutNavbarTop,
      body.layout-hide-sidebar #layoutHeaderVertical { display: none !important; }
      body.layout-hide-sidebar .main > .container > .content,
      body.layout-hide-sidebar .main > .container-fluid > .content { margin-left: 0 !important; max-width: 100%; }
    </style>
    <script>
      (function () {
        localStorage.setItem('isRTL', 'false');
        var linkRtl = document.getElementById('style-rtl');
        var userLinkRtl = document.getElementById('user-style-rtl');
        if (linkRtl) linkRtl.setAttribute('disabled', 'disabled');
        if (userLinkRtl) userLinkRtl.setAttribute('disabled', 'disabled');
        var userDefault = document.getElementById('user-style-default');
        var layoutNavCss = document.getElementById('layout-navbar-style');
        if (userDefault) userDefault.removeAttribute('disabled');
        if (layoutNavCss) layoutNavCss.removeAttribute('disabled');

        var pos = localStorage.getItem('navbarPosition');
        try {
          if (pos && pos.charAt(0) === '"') pos = JSON.parse(pos);
        } catch (e) {}
        if (pos === 'combo') {
          localStorage.setItem('navbarPosition', 'vertical');
          pos = 'vertical';
        }
        if (pos !== 'top') pos = 'vertical';
        var html = document.documentElement;
        html.setAttribute('data-navbar-position', pos);
        html.setAttribute('dir', 'ltr');
        html.classList.remove('layout-nav-vertical', 'layout-nav-top');
        html.classList.add(pos === 'top' ? 'layout-nav-top' : 'layout-nav-vertical');
      })();
    </script>
  </head>
<body th:fragment="body" th:classappend="${hideSidebar} ? 'layout-hide-sidebar' : ''" th:attr="data-screen-id=${screenId}">
    <th:block th:replace="~{fragments/app-loading :: bar}"></th:block>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        <div class="container" data-layout="container">
            <script>
              var isFluid = JSON.parse(localStorage.getItem('isFluid') || 'false');
              var layoutContainer = document.querySelector('[data-layout="container"]');
              if (layoutContainer && isFluid && !document.body.classList.contains('layout-hide-sidebar')) {
                layoutContainer.classList.remove('container');
                layoutContainer.classList.add('container-fluid');
              }
            </script>
            
            <div th:if="${hideSidebar != true}" th:replace="~{fragments/sidebar :: sidebar}"></div>
            
            <div class="content">
                <div th:if="${hideSidebar != true}" th:replace="~{fragments/top-navbar :: topNavbar}"></div>
                <div th:if="${hideSidebar != true}" th:replace="~{fragments/header :: header}"></div>
                
                <!-- 페이지별 콘텐츠 -->
                <div th:replace="~{::page-content}">
                    <!-- 각 페이지의 콘텐츠가 여기에 삽입됩니다 -->
                </div>
            </div>
        </div>
    </main>

    <!-- 설정 Panel -->
    <div th:replace="~{fragments/settings :: settings}"></div>

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script th:src="@{/vendors/popper/popper.min.js}"></script>
    <script th:src="@{/vendors/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/vendors/anchorjs/anchor.min.js}"></script>
    <script th:src="@{/vendors/is/is.min.js}"></script>
    <script th:src="@{/vendors/echarts/echarts.min.js}"></script>
    <script th:src="@{/vendors/fontawesome/all.min.js}"></script>
    <script th:src="@{/vendors/lodash/lodash.min.js}"></script>
    <script th:src="@{/vendors/list.js/list.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <th:block th:replace="~{fragments/app-loading :: scripts}"></th:block>
    <script th:if="${loadDropzone}" th:src="@{/vendors/dropzone/dropzone.min.js}"></script>
    <script th:if="${loadDropzone}">
      if (window.Dropzone) {
        window.Dropzone.autoDiscover = false;
      }
    </script>
    <script th:if="${loadCalendar == true or loadEchartsExamples == true or loadDayjs == true}" th:src="@{/vendors/dayjs/dayjs.min.js}"></script>
    <script th:if="${loadEchartsExamples}" th:src="@{/vendors/dayjs/customParseFormat.min.js}"></script>
    <script th:if="${loadEchartsExamples}">
      if (window.dayjs &amp;&amp; window.dayjs_plugin_customParseFormat) {
        dayjs.extend(window.dayjs_plugin_customParseFormat);
      }
    </script>
    <script th:if="${loadCalendar == true}" th:src="@{/vendors/fullcalendar/main.min.js}"></script>
    <script th:if="${loadChartJs}" th:src="@{/vendors/chart/chart.min.js}"></script>
    <script th:if="${loadCountUp}" th:src="@{/vendors/countup/countUp.umd.js}"></script>
    <script th:if="${loadWorldMap == true}" th:src="@{/assets/data/world.js}"></script>
    <script th:if="${loadCalendar == true or loadFlatpickr == true or loadCrmDashboardInit == true}" th:src="@{/assets/js/flatpickr.js}"></script>
    <script th:if="${loadD3}" th:src="@{/vendors/d3/d3.min.js}"></script>
    <script th:if="${loadLeaflet}" th:src="@{/vendors/leaflet/leaflet.js}"></script>
    <script th:if="${loadLeaflet}" th:src="@{/vendors/leaflet.markercluster/leaflet.markercluster.js}"></script>
    <script th:if="${loadLeaflet}" th:src="@{/vendors/leaflet.tilelayer.colorfilter/leaflet-tilelayer-colorfilter.min.js}"></script>
    <script th:if="${loadTinymce}" th:src="@{/vendors/tinymce/tinymce.min.js}"></script>
    <script th:if="${loadSwiper}" th:src="@{/vendors/swiper/swiper-bundle.min.js}"></script>
    <script th:if="${loadEchartsExamples}" th:src="@{/assets/js/echarts-example.js(v=2)}"></script>
    <script th:if="${codeOptionsForJs != null}" th:inline="javascript">
      window.__CODE_OPTIONS__ = /*[[${codeOptionsForJs}]]*/ {};
    </script>
    <script th:if="${activeScreenUris != null}" th:inline="javascript">
      window.__ACTIVE_SCREEN_URIS__ = /*[[${activeScreenUris}]]*/ [];
    </script>
    <script th:src="@{/assets/js/sidebar-menu-init.js(v=1)}"></script>
    <script th:src="@{/assets/js/screen-menu-filter.js(v=2)}"></script>
    <script th:src="@{/assets/js/code-select-loader.js(v=1)}"></script>
    <script th:if="${loadLottie}" src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.12.2/lottie.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script th:src="@{/assets/js/currency-won.js(v=2)}"></script>
    <script th:src="@{/assets/js/app-common.js(v=4)}"></script>
    <script th:inline="javascript">
      window.__PRINTMALL_GRID_PAGE_SIZE__ = /*[[${gridPageSize}]]*/ 30;
    </script>
    <script th:src="@{/assets/js/grid-pager.js(v=2)}"></script>
    <script th:src="@{/assets/js/grid-excel-actions.js(v=4)}"></script>
    <script th:src="@{/assets/js/theme.js(v=8)}"></script>
    <script th:if="${loadOrderListActions}" th:src="@{/assets/js/order-list-actions.js(v=5)}"></script>
    <script th:if="${loadProductRegisterActions}" th:src="@{/assets/js/product-register-actions.js(v=4)}"></script>
    <script th:if="${loadProductManageActions}" th:src="@{/assets/js/product-manage-actions.js(v=8)}"></script>
    <script th:if="${loadProductDetailsActions}" th:src="@{/assets/js/product-details-actions.js(v=2)}"></script>
    <script th:if="${kakaoMapAppKey != null and loadKakaoAddressForm != null and loadKakaoAddressForm}" th:inline="javascript">
      window.__KAKAO_MAP_APP_KEY__ = /*[[${kakaoMapAppKey}]]*/ '';
      window.__KAKAO_REST_API_KEY__ = /*[[${kakaoRestApiKeyForMapHint}]]*/ '';
    </script>
    <script th:if="${kakaoMapAppKey != null and loadKakaoAddressForm != null and loadKakaoAddressForm}" th:src="@{/api/kakao/local/maps-sdk.js}"></script>
    <script th:if="${loadCustomerDetailsActions}" th:src="@{/assets/js/customer-details-actions.js(v=2)}"></script>
    <script th:if="${loadBillingActions}" th:src="@{/assets/js/billing-actions.js(v=1)}"></script>
    <script th:if="${loadCheckoutActions}" th:src="@{/assets/js/checkout-actions.js(v=3)}"></script>
    <script th:if="${loadCustomersActions}" th:src="@{/assets/js/customers-actions.js(v=1)}"></script>
    <script th:if="${loadShoppingCartActions}" th:src="@{/assets/js/shopping-cart-actions.js(v=1)}"></script>
    <script th:if="${loadCodeManagementActions}" th:src="@{/assets/js/code-management-actions.js(v=28)}"></script>
    <script th:if="${loadMenuManagementActions}" th:src="@{/assets/js/menu-management-actions.js(v=5)}"></script>
    <script th:if="${loadUserAccessLogActions}" th:src="@{/assets/js/user-access-log-actions.js(v=7)}"></script>
    <script th:if="${loadNasAdminActions}" th:src="@{/assets/js/nas-settings-actions.js(v=1)}"></script>
    <script th:if="${loadMediaStorageActions}" th:src="@{/assets/js/media-storage-actions.js(v=5)}"></script>
    <script th:if="${loadKakaoAddressForm != null and loadKakaoAddressForm}" th:src="@{/assets/js/kakao-address-search.js(v=3)}"></script>
    <script th:if="${loadKakaoAddressForm != null and loadKakaoAddressForm}" th:src="@{/assets/js/kakao-address-map.js(v=5)}"></script>
    <script th:if="${loadKakaoAddressForm != null and loadKakaoAddressForm}" th:src="@{/assets/js/kakao-address-form.js(v=2)}"></script>
    <script th:if="${loadUsersAddressInit != null and loadUsersAddressInit}" th:src="@{/assets/js/users-address-init.js(v=1)}"></script>
    <script th:if="${loadCrmDashboardInit == true}" th:src="@{/assets/js/crm-dashboard-init.js(v=7)}"></script>
    <script th:if="${loadCrmDashboardInit == true}" th:src="@{/assets/js/crm-card-actions.js(v=1)}"></script>
    <script th:if="${loadCompanyManageActions}" th:src="@{/assets/js/company-manage-actions.js(v=12)}"></script>
    <script th:if="${loadInventoryManageActions}" th:src="@{/assets/js/inventory-manage-actions.js(v=1)}"></script>
    <script th:if="${loadCompanyPageImageActions}" th:src="@{/assets/js/company-page-image-actions.js(v=2)}"></script>
    <script th:if="${loadEmailDetailActions}" th:src="@{/assets/js/email-detail-actions.js(v=1)}"></script>
    <script th:if="${loadEmailInboxActions}" th:src="@{/assets/js/email-inbox-actions.js(v=1)}"></script>
    <script th:if="${loadEmailComposeActions}" th:src="@{/assets/js/email-compose-actions.js(v=4)}"></script>
    <script th:src="@{/assets/js/dashboard-config-store.js(v=3)}"></script>
    <script th:src="@{/assets/js/dashboard-layout-rules.js(v=2)}"></script>
    <script th:src="@{/assets/js/dashboard-widget-renderer.js(v=8)}"></script>
    <script th:src="@{/assets/js/dashboard-widget-actions.js(v=7)}"></script>
    <script th:src="@{/assets/js/dashboard-company-switcher.js(v=1)}"></script>
    <script th:if="${loadDashboardConfigActions}" th:src="@{/assets/js/dashboard-config-actions.js(v=5)}"></script>
    <script th:src="@{/assets/js/using-storage-widget.js(v=2)}"></script>
    <script th:src="@{/assets/js/navbar-position-settings.js(v=9)}"></script>
    <th:block th:replace="~{fragments/responsive :: scripts}"></th:block>
    <script th:if="${loadCalendarActions}" th:src="@{/assets/js/app-calendar-actions.js(v=1)}"></script>
    <script th:if="${loadCalendar}" th:src="@{/assets/js/app-calendar-modal-fix.js(v=2)}"></script>
    <script th:if="${loadInvoicePdf}" src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" crossorigin="anonymous"></script>
    <script th:if="${loadInvoicePdf}" th:src="@{/assets/js/invoice-pdf.js(v=3)}"></script>
</body>
</html>
