<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springbootapp.mapper.EcmProductMapper">

    <resultMap id="ecmProductResultMap" type="EcmProduct">
        <id property="productId" column="product_id"/>
        <result property="companyId" column="company_id"/>
        <result property="productNm" column="product_nm"/>
        <result property="categoryCd" column="category_cd"/>
        <result property="price" column="price"/>
        <result property="stockQty" column="stock_qty"/>
        <result property="statusCd" column="status_cd"/>
        <result property="imgUrl" column="img_url"/>
        <result property="description" column="description"/>
        <result property="regId" column="reg_id"/>
        <result property="regDt" column="reg_dt"/>
        <result property="updateId" column="update_id"/>
        <result property="updateDt" column="update_dt"/>
    </resultMap>

    <sql id="ecmProductColumns">
        product_id, company_id, product_nm, category_cd, price, stock_qty, status_cd,
        img_url, description, reg_id, reg_dt, update_id, update_dt
    </sql>

    <select id="findAll" resultMap="ecmProductResultMap">
        SELECT <include refid="ecmProductColumns"/>
        FROM ecm_product
        <where>
            <if test="companyId != null">
                AND company_id = #{companyId}
            </if>
            <if test="productNm != null and productNm != ''">
                AND product_nm ILIKE CONCAT('%', #{productNm}, '%')
            </if>
            <if test="categoryCd != null and categoryCd != ''">
                AND category_cd = #{categoryCd}
            </if>
            <if test="statusCd != null and statusCd != ''">
                AND status_cd = #{statusCd}
            </if>
        </where>
        ORDER BY reg_dt DESC, product_id DESC
    </select>

    <select id="findForInventory" resultMap="ecmProductResultMap">
        SELECT <include refid="ecmProductColumns"/>
        FROM ecm_product
        <where>
            <if test="companyId != null">
                AND company_id = #{companyId}
            </if>
            <if test="productNm != null and productNm != ''">
                AND product_nm ILIKE CONCAT('%', #{productNm}, '%')
            </if>
            <if test="categoryCd != null and categoryCd != ''">
                AND category_cd = #{categoryCd}
            </if>
            <if test="statusCd != null and statusCd != ''">
                AND status_cd = #{statusCd}
            </if>
            <if test="stockFilter == 'ZERO'">
                AND stock_qty &lt;= 0
            </if>
            <if test="stockFilter == 'LOW'">
                AND stock_qty &gt; 0 AND stock_qty &lt;= #{lowThreshold}
            </if>
            <if test="stockFilter == 'OK'">
                AND stock_qty &gt; #{lowThreshold}
            </if>
        </where>
        ORDER BY stock_qty ASC, product_nm ASC, product_id DESC
    </select>

    <update id="updateStockQty">
        UPDATE ecm_product
        SET stock_qty = #{stockQty},
            update_id = #{updateId}
        WHERE product_id = #{productId}
    </update>

    <select id="findById" resultMap="ecmProductResultMap">
        SELECT <include refid="ecmProductColumns"/>
        FROM ecm_product
        WHERE product_id = #{productId}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="productId" keyColumn="product_id">
        INSERT INTO ecm_product (
            company_id, product_nm, category_cd, price, stock_qty, status_cd,
            img_url, description, reg_id, update_id
        ) VALUES (
            #{companyId}, #{productNm}, #{categoryCd}, #{price}, #{stockQty}, #{statusCd},
            #{imgUrl}, #{description}, #{regId}, #{updateId}
        )
    </insert>

    <update id="update">
        UPDATE ecm_product
        SET company_id = #{companyId},
            product_nm = #{productNm},
            category_cd = #{categoryCd},
            price = #{price},
            stock_qty = #{stockQty},
            status_cd = #{statusCd},
            img_url = #{imgUrl},
            description = #{description},
            update_id = #{updateId}
        WHERE product_id = #{productId}
    </update>

    <delete id="deleteById">
        DELETE FROM ecm_product WHERE product_id = #{productId}
    </delete>
</mapper>
