<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}">
</head>
<body>
    <th:block th:replace="~{layout :: body}">
    <div th:fragment="page-content">

          <div class="card mb-3">
            <div class="card-body">
              <div class="row flex-between-center">
                <div class="col-md">
                  <h5 class="mb-2 mb-md-0">Create Event</h5>
                </div>
                <div class="col-auto">
                  <button class="btn btn-falcon-default btn-sm me-2" role="button">Save</button>
                  <button class="btn btn-falcon-primary btn-sm" role="button">Make your event live </button>
                </div>
              </div>
            </div>
          </div>
          <div class="card cover-image mb-3"><img class="card-img-top" th:src="@{/assets/img/generic/13.jpg}" alt="" />
            <input class="d-none" id="upload-cover-image" type="file" />
            <label class="cover-image-file-input" for="upload-cover-image"><span class="fas fa-camera me-2"></span><span>Change cover photo</span></label>
          </div>
          <div class="row g-0">
            <div class="col-lg-8 pe-lg-2">
              <div class="card mb-3">
                <div class="card-header">
                  <h5 class="mb-0">Event Details</h5>
                </div>
                <div class="card-body bg-light">
                  <form>
                    <div class="row gx-2">
                      <div class="col-12 mb-3">
                        <label class="form-label" for="event-name">Event Title</label>
                        <input class="form-control" id="event-name" type="text" placeholder="Event Title" />
                      </div>
                      <div class="col-sm-6 mb-3">
                        <label class="form-label" for="start-date">Start Date</label>
                        <input class="form-control datetimepicker" id="start-date" type="text" placeholder="yyyy-MM-dd" data-options='{"dateFormat":"Y-m-d","disableMobile":true}' />
                      </div>
                      <div class="col-sm-6 mb-3">
                        <label class="form-label" for="start-time">Start Time</label>
                        <input class="form-control datetimepicker" id="start-time" type="text" placeholder="HH:mm:ss" data-options='{"enableTime":true,"noCalendar":true,"dateFormat":"H:i:S","disableMobile":true}' />
                      </div>
                      <div class="col-sm-6 mb-3">
                        <label class="form-label" for="end-date">End Date</label>
                        <input class="form-control datetimepicker" id="end-date" type="text" placeholder="yyyy-MM-dd" data-options='{"dateFormat":"Y-m-d","disableMobile":true}' />
                      </div>
                      <div class="col-sm-6 mb-3">
                        <label class="form-label" for="end-time">End Time</label>
                        <input class="form-control datetimepicker" id="end-time" type="text" placeholder="HH:mm:ss" data-options='{"enableTime":true,"noCalendar":true,"dateFormat":"H:i:S","disableMobile":true}' />
                      </div>
                      <div class="col-sm-6">
                        <label class="form-label" for="registration-deadline">Registration Deadline</label>
                        <input class="form-control datetimepicker" id="registration-deadline" type="text" placeholder="yyyy-MM-dd" data-options='{"dateFormat":"Y-m-d","disableMobile":true}' />
                      </div>
                      <input type="hidden" id="time-zone" name="timeZone" value="Asia/Seoul" />
                      <div class="col-12">
                        <div class="border-bottom border-dashed my-3"></div>
                      </div>
                      <div class="col-sm-6 mb-3">
                        <label class="form-label" for="event-venue">Venue</label>
                        <input class="form-control" id="event-venue" type="text" placeholder="Venue" />
                        <button class="btn btn-link btn-sm btn p-0" type="button">Online Event</button>
                      </div>
                      <div class="col-sm-6 mb-3">
                        <label class="form-label" for="event-address">Address</label>
                        <input class="form-control" id="event-address" type="text" placeholder="Address" />
                      </div>
                      <div class="col-sm-4 mb-3">
                        <label class="form-label" for="event-city">City</label>
                        <input class="form-control" id="event-city" type="text" placeholder="City" />
                      </div>
                      <div class="col-sm-4 mb-3">
                        <label class="form-label" for="event-state">State</label>
                        <input class="form-control" id="event-state" type="text" placeholder="State" />
                      </div>
                      <div class="col-sm-4 mb-3">
                        <label class="form-label" for="event-country">Country</label>
                        <input class="form-control" id="event-country" type="text" placeholder="Country" />
                      </div>
                      <div class="col-12">
                        <label class="form-label" for="event-description">Description</label>
                        <textarea class="form-control" id="event-description" rows="6"></textarea>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="card mb-3">
                <div class="card-header">
                  <h5 class="mb-0">Ticket Price</h5>
                </div>
                <div class="card-body bg-light">
                  <button class="btn btn-falcon-default btn-sm" type="button">Free<span class="d-none d-sm-inline"> Ticket</span></button>
                  <button class="btn btn-falcon-primary btn-sm ms-2" type="button">Paid<span class="d-none d-sm-inline"> Ticket</span></button>
                  <button class="btn btn-falcon-default btn-sm ms-2" type="button">Donation</button>
                  <hr />
                  <h6 class="fs-0">Pricing Options:</h6>
                  <div class="form-check">
                    <input class="form-check-input" id="customCheck1" type="checkbox" checked="checked" />
                    <label class="form-check-label align-top" for="customCheck1">Enable varible pricing</label>
                  </div>
                  <div class="form-check mt-2">
                    <input class="form-check-input" id="customCheck2" type="checkbox" />
                    <label class="form-check-label align-top" for="customCheck2">Enable multi-option purchase mode.</label>
                  </div>
                  <table class="table table-bordered mt-3 bg-white dark__bg-1100">
                    <thead>
                      <tr class="fs--1">
                        <th>Option Name</th>
                        <th>Price</th>
                        <th>Default</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <input class="form-control form-control-sm" type="text" placeholder="Option Name" value="Front desks" />
                        </td>
                        <td>
                          <input class="form-control form-control-sm" type="text" placeholder="Price" value="$0.00" />
                        </td>
                        <td class="text-center align-middle">
                          <div class="form-check mb-0">
                            <input class="form-check-input float-none" id="customRadio1" type="radio" name="customRadio" checked="checked" />
                            <label class="form-check-label" for="customRadio1"></label>
                          </div>
                        </td>
                        <td class="text-center align-middle">
                          <button class="btn btn-link btn-sm"><span class="fas fa-times-circle text-danger" data-fa-transform="shrink-2"></span></button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <input class="form-control form-control-sm" type="text" placeholder="Option Name" value="Green gallery" />
                        </td>
                        <td>
                          <input class="form-control form-control-sm" type="text" placeholder="Price" value="$5.00" />
                        </td>
                        <td class="text-center align-middle">
                          <div class="form-check mb-0">
                            <input class="form-check-input float-none" id="customRadio2" type="radio" name="customRadio" />
                            <label class="form-check-label" for="customRadio2"></label>
                          </div>
                        </td>
                        <td class="text-center align-middle">
                          <button class="btn btn-link btn-sm"><span class="fas fa-times-circle text-danger" data-fa-transform="shrink-2"></span></button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <input class="form-control form-control-sm" type="text" placeholder="VIP" value="VIP" />
                        </td>
                        <td>
                          <input class="form-control form-control-sm" type="text" placeholder="Price" value="$20.00" />
                        </td>
                        <td class="text-center align-middle">
                          <div class="form-check mb-0">
                            <input class="form-check-input float-none" id="customRadio3" type="radio" name="customRadio" />
                            <label class="form-check-label" for="customRadio3"></label>
                          </div>
                        </td>
                        <td class="text-center align-middle">
                          <button class="btn btn-link btn-sm"><span class="fas fa-times-circle text-danger" data-fa-transform="shrink-2"></span></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card mb-3">
                <div class="card-header">
                  <h5 class="mb-0">Schedule</h5>
                </div>
                <div class="card-body bg-light">
                  <div class="border rounded-1 position-relative bg-white dark__bg-1100 p-3">
                    <div class="position-absolute end-0 top-0 mt-2 me-3 z-index-1">
                      <button class="btn btn-link btn-sm p-0" type="button"><span class="fas fa-times-circle text-danger" data-fa-transform="shrink-1"></span></button>
                    </div>
                    <div class="row gx-2">
                      <div class="col-12 mb-3">
                        <label class="form-label" for="schedule-title">Title</label>
                        <input class="form-control form-control-sm" id="schedule-title" type="text" placeholder="Title" />
                      </div>
                      <div class="col-sm-6 mb-3">
                        <label class="form-label" for="schedule-start-date">Start Date</label>
                        <input class="form-control form-control-sm datetimepicker" id="schedule-start-date" type="text" placeholder="yyyy-MM-dd" data-options='{"dateFormat":"Y-m-d","enableTime":false,"disableMobile":true}' />
                      </div>
                      <div class="col-sm-6 mb-3">
                        <label class="form-label" for="schedule-start-time">Start Time</label>
                        <input class="form-control form-control-sm datetimepicker" id="schedule-start-time" type="text" placeholder="HH:mm:ss" data-options='{"enableTime":true,"noCalendar":true,"dateFormat":"H:i:S","disableMobile":true}' />
                      </div>
                      <div class="col-sm-6 mb-3 mb-sm-0">
                        <label class="form-label" for="schedule-end-date">End Date</label>
                        <input class="form-control form-control-sm datetimepicker" id="schedule-end-date" type="text" placeholder="yyyy-MM-dd" data-options='{"dateFormat":"Y-m-d","enableTime":false,"disableMobile":true}' />
                      </div>
                      <div class="col-sm-6">
                        <label class="form-label" for="schedule-end-time">End Time</label>
                        <input class="form-control form-control-sm datetimepicker" id="schedule-end-time" type="text" placeholder="HH:mm:ss" data-options='{"enableTime":true,"noCalendar":true,"dateFormat":"H:i:S","disableMobile":true}' />
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-falcon-default btn-sm mt-2" type="button"><span class="fas fa-plus fs--2 me-1" data-fa-transform="up-1"></span>Add Item </button>
                </div>
              </div>
              <div class="card mb-3">
                <div class="card-header">
                  <h5 class="mb-0">Upload Photos</h5>
                </div>
                <div class="card-body bg-light">
                  <form class="dropzone dropzone-multiple p-0" id="my-awesome-dropzone" data-dropzone="data-dropzone" action="#!">
                    <div class="fallback">
                      <input name="file" type="file" multiple="multiple" />
                    </div>
                    <div class="dz-message" data-dz-message="data-dz-message"> <img class="me-2" th:src="@{/assets/img/icons/cloud-upload.svg}" width="25" alt="" />Drop your files here</div>
                    <div class="dz-preview dz-preview-multiple m-0 d-flex flex-column">
                      <div class="d-flex media align-items-center mb-3 pb-3 border-bottom btn-reveal-trigger"><img class="dz-image" th:src="@{/assets/img/generic/image-file-2.png}" alt="..." data-dz-thumbnail="data-dz-thumbnail" />
                        <div class="flex-1 d-flex flex-between-center">
                          <div>
                            <h6 data-dz-name="data-dz-name"></h6>
                            <div class="d-flex align-items-center">
                              <p class="mb-0 fs--1 text-400 lh-1" data-dz-size="data-dz-size"></p>
                              <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress=""></span></div>
                            </div>
                          </div>
                          <div class="dropdown font-sans-serif">
                            <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal dropdown-caret-none" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h"></span></button>
                            <div class="dropdown-menu dropdown-menu-end border py-2"><a class="dropdown-item" href="#!" data-dz-remove="data-dz-remove">Remove File</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="card mb-3 mb-lg-0">
                <div class="card-header">
                  <h5 class="mb-0">Custom Fields</h5>
                </div>
                <div class="card-body bg-light">
                  <div class="position-relative rounded-1 border bg-white dark__bg-1100 p-3">
                    <div class="position-absolute end-0 top-0 mt-2 me-3 z-index-1">
                      <button class="btn btn-link btn-sm p-0" type="button"><span class="fas fa-times-circle text-danger" data-fa-transform="shrink-1"></span></button>
                    </div>
                    <div class="row gx-2">
                      <div class="col-sm-6 mb-3">
                        <label class="form-label" for="field-name">Name</label>
                        <input class="form-control form-control-sm" id="field-name" type="text" placeholder="Name (e.g. T-shirt)" />
                      </div>
                      <div class="col-sm-6 mb-3">
                        <label class="form-label" for="field-type">Type</label>
                        <th:block th:replace="~{fragments/code-select :: formSelectFilter('FORM_FIELD_TYPE', '', 'field-type', 'form-select-sm', null)}"></th:block>
                      </div>
                      <div class="col-12">
                        <label class="form-label" for="field-options">Field Options</label>
                        <textarea class="form-control form-control-sm" id="field-options" rows="3"></textarea>
                        <div class="form-text fs--1 text-warning">* Separate your options with comma</div>
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-falcon-default btn-sm mt-2" type="submit"><span class="fas fa-plus fs--2 me-1" data-fa-transform="up-1"></span>Add Item</button>
                </div>
              </div>
            </div>
            <div class="col-lg-4 ps-lg-2">
              <div class="sticky-sidebar">
                <div class="card mb-lg-0">
                  <div class="card-header">
                    <h5 class="mb-0">Other Info</h5>
                  </div>
                  <div class="card-body bg-light">
                    <div class="mb-3">
                      <div class="d-flex flex-between-center">
                        <label class="form-label" for="organizer">Organizer</label>
                        <button class="btn btn-link btn-sm pe-0" type="button">Add New</button>
                      </div>
                      <select class="form-select js-choice" id="organizer" multiple="multiple" size="1" name="organizer" data-code-group="EVENT_ORGANIZER" data-options='{"removeItemButton":true,"placeholder":true}'>
                        <th:block th:replace="~{fragments/code-select :: optionsByGroupAllowEmpty('EVENT_ORGANIZER', '')}"></th:block>
                      </select>
                    </div>
                    <div class="mb-3">
                      <div class="d-flex flex-between-center">
                        <label class="form-label" for="sponsors">Sponsors</label>
                        <button class="btn btn-link btn-sm pe-0" type="button">Add New</button>
                      </div>
                      <select class="form-select js-choice" id="sponsors" multiple="multiple" size="1" name="sponsors" data-code-group="EVENT_SPONSOR" data-options='{"removeItemButton":true,"placeholder":true}'>
                        <th:block th:replace="~{fragments/code-select :: optionsByGroupAllowEmpty('EVENT_SPONSOR', '')}"></th:block>
                      </select>
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="event-type">Event Type</label>
                      <th:block th:replace="~{fragments/code-select :: formSelectFilter('COURSE_CATEGORY', '', 'event-type', null, null, 'event-type')}"></th:block>
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="event-topic">Event Topic</label>
                      <th:block th:replace="~{fragments/code-select :: formSelectFilter('EVENT_TOPIC', '', 'event-topic', null, null, 'even-topic')}"></th:block>
                    </div>
                    <div class="mb-3">
                      <div class="d-flex justify-content-between align-items-center">
                        <label class="mb-0" for="event-tags">Tags</label>
                        <button class="btn btn-link btn-sm pe-0" type="button">Add New</button>
                      </div>
                      <select class="form-select js-choice" id="event-tags" multiple="multiple" size="1" name="tags" data-code-group="EVENT_TAG" data-options='{"removeItemButton":true,"placeholder":true}'>
                        <th:block th:replace="~{fragments/code-select :: optionsByGroupAllowEmpty('EVENT_TAG', '')}"></th:block>
                      </select>
                    </div>
                    <div class="border-bottom border-dashed my-3"></div>
                    <h6>Listing Privacy</h6>
                    <div class="mb-3 form-check">
                      <input class="form-check-input" id="customRadio4" type="radio" name="listingPrivacy" checked="checked" />
                      <label class="form-label mb-0" for="customRadio4"> <strong>Public page:</strong></label>
                      <div class="form-text mt-0">Discoverable by anyone on PrintMall, our distribution partners, and search engines.</div>
                    </div>
                    <div class="mb-3 form-check">
                      <input class="form-check-input" id="customRadio5" type="radio" name="listingPrivacy" />
                      <label class="form-label mb-0" for="customRadio5"> <strong>Private page:</strong></label>
                      <div class="form-text mt-0">Accessible only by people you specify. </div>
                    </div>
                    <div class="border-bottom border-dashed my-3"></div>
                    <h6>Remaining Tickets</h6>
                    <div class="form-check custom-checkbox mb-0">
                      <input class="form-check-input" id="customRadio6" type="checkbox" />
                      <label class="form-label mb-0" for="customRadio6">Show the number of remaining tickets. </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-3">
            <div class="card-body">
              <div class="row justify-content-between align-items-center">
                <div class="col-md">
                  <h5 class="mb-2 mb-md-0">Nice Job! You're almost done</h5>
                </div>
                <div class="col-auto">
                  <button class="btn btn-falcon-default btn-sm me-2">Save</button>
                  <button class="btn btn-falcon-primary btn-sm">Make your event live </button>
                </div>
              </div>
            </div>
          </div>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
    </th:block>
</body>
</html>